<ion-header>
    <ion-toolbar color="app">
        <ion-title>Scanner</ion-title>
        <ion-button (click)="Scan()" slot="end">
            <ion-icon name="Bluetooth"></ion-icon>
            <p>Scan</p>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-card-content ion-item *ngFor="let item of dispositivos1">
            <p>{{item.name || 'Desconocido'}}</p>
            <p>{{item.id}}</p>
            <p> RSSI: {{item.rssi}}</p>
            <p>Cercania:{{item.cercania}}</p>
        </ion-card-content>

    </ion-list>


</ion-content>