<ion-header class="title">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-logo">
    <ion-card-header>
      <ion-card-title>Ingreso</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-list>
        <ion-item class="input-item">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required ></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required ></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
          </ion-col>
        </ion-row>

      </ion-list> 
    </ion-card-content>
  </ion-card>

</ion-content>