<ion-header >
  <ion-toolbar color="app">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title" >Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresa tus datos</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form autocomplete="off" (submit)="register()">
        <ion-item lines="full">
          <ion-label position="floating">Nombres:</ion-label>
          <ion-input type="text" [(ngModel)]="name" name="name" required="true"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input type="text" [(ngModel)]="lastName" name="lastName" required="true"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Email:</ion-label>
          <ion-input type="text" [(ngModel)]="email" name="email" required="true"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password:</ion-label>
          <ion-input type="password" [(ngModel)]="password" name="password" required="true"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>