<ion-header>
    <ion-toolbar color="app">
        <ion-title class="title">COVIDistance</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
    <ion-card class="card-logo">
        <ion-card-header>
        </ion-card-header>
        <ion-card-content>
            <img src="../../assets/images/blue.gif" alt="">
        </ion-card-content>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col align-self-center>
                <ion-button [routerLink]="['/register']" expand="block" color="primary">Regístrate</ion-button>

                <span class="divider line one-line">o</span>

                <span class="already">Ya tienes usuario?</span>

                <ion-button [routerLink]="['/scanner']" expand="block" color="app">Ingresar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>