<ion-content class="auth-form">
  <ion-card class="card-logo">
    <ion-card-header>
      <ion-card-title class="title">COVIDistance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="../../assets/images/blue.gif" alt="">
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Registrate</ion-button>

        <span class="divider line one-line">o</span>

        <span class="already">Ya tienes usuario?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="medium">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
